<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop-a">
      <div class="overlap-wrapper-a">
        <div class="overlap-a">
          <div class="group-a">
            <div class="overlap-group-a">
            </div>
            <div class="top-bar"></div>
          </div>
          <p class="application-title">Online Trading Card Game Maker</p>
          <img class="play-button" src="img/rectangle-6.png" />
          <img class="trade-button" src="img/rectangle-6.png" />
          <img class="make-button" src="img/rectangle-5.png" />
          <img class="collect-button" src="img/rectangle-6.png" />
          <div class="play-button-text">Play</div>
          <div class="trade-button-text">Trade</div>
          <div class="make-button-text">Make</div>
          <div class="collect-button-text">Collect</div>
          <img class="user-logo" src="img/group-2.png" />
          <div class="group-wrapper">
            <div class="group-7">
              <div class="group-8">
                <div class="overlap-group-2"><div class="text-wrapper-7">Deck Name</div></div>
              </div>
            </div>
          </div>
          <div class="group-a" id="generate-card-title-top">
            <p>Click On Card</p>
          </div>
          <img class="group-5" id="deck-1" src="img/deck-top-view.jpg" />
          <div class="group" id="generate-card-title-bottom">
            <p>To Generate A New One</p>
          </div>
          <div class="group-5" id="AI-prompt-title">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter Description For AI 
                    <br>
                    To Generate A New Card Image
                </p>
          </div>
          <div class="group-5" id="credits">
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspStats Left:4
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspHealth Stat: 2
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspAttack Stat: 2
                 <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspDefense Stat: 2
            </p>
          </div>
          <div class="group-5" id="prompt"></div>
          <div class="group-5" id="faded-prompt-text">
            <p>
                Type Description For Image ...
            </p>
          </div>
          <div class="group-5" id="health-stat">
            <p>&nbsp;&nbsp;&nbsp;health-stat</p>
          </div>
          <div class="group-5" id="health-stat-plus">
            <p>&nbsp;+</p>
          </div>
          <div class="group-5" id="health-stat-minus">
            <p>&nbsp;-</p>
          </div>
          <div class="group-5" id="attack-stat">
            <p>&nbsp;&nbsp;&nbsp;attack-stat</p>
          </div>
          <div class="group-5" id="attack-stat-plus">
            <p>&nbsp;+</p>
          </div>
          <div class="group-5" id="attack-stat-minus">
            <p>&nbsp;-</p>
          </div>
          <div class="group-5" id="defense-stat">
            <p>&nbsp;&nbsp;&nbsp;defense-stat</p>
          </div>
          <div class="group-5" id="defense-stat-plus">
            <p>&nbsp;+</p>
          </div>
          <div class="group-5" id="defense-stat-minus">
            <p>&nbsp;-</p>
          </div>
          <img class="group-6" src="img/group-6.png" />

        </div> <!-- class="overlap" -->
      </div> <!-- class="overlap-wrapper" -->
    </div> <!-- class="desktop" -->
  </body>
</html>
