<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop-a">
        <div class="overlap-a">
          <div class="group-a">
            <div class="overlap-group-a"></div>
            <div class="top-bar"></div>
          </div>
          <p class="application-title">Online Trading Card Game Maker</p>
          <img class="play-button" src="img/rectangle-6.png" />
          <img class="trade-button" src="img/rectangle-6.png" />
          <img class="make-button" src="img/rectangle-5.png" />
          <img class="collect-button" src="img/rectangle-6.png" />
          <div class="play-button-text">Play</div>
          <div class="trade-button-text">Trade</div>
          <div class="make-button-text">Make</div>
          <div class="collect-button-text">Collect</div>
          <img class="user-logo" src="img/group-2.png" />
        </div> <!-- class="overlap-a" -->
    </div> <!-- class="desktop-a" -->

    <div class="generate-card-page">
        <div class="deck-sign-shadow">
              <div class="deck-name-sign"><div class="deck-name-text">Deck Name</div></div>
        </div>
      
      <div id="generate-card-title-top">
            <p>Click On Card</p>
      </div>
      <img id="deck-1" src="img/deck-top-view.jpg" />
      <div id="generate-card-title-bottom">
          <p>To Generate A New One</p>
      </div>
      <div id="AI-prompt-title">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter Description For AI 
             <br>
              To Generate A New Card Image
              </p>
      </div>
      <div id="credits">
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspStats Left:4
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspHealth Stat: 2
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspAttack Stat: 2
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspDefense Stat: 2
        </p>
      </div>
      <div id="prompt"></div>
      <div id="faded-prompt-text">
          <p>
                Type Description For Image ...
          </p>
      </div>
      <div id="health-stat">
          <p>&nbsp;&nbsp;&nbsp;health-stat</p>
      </div>
      <div id="health-stat-plus">
          <p>&nbsp;+</p>
      </div>
      <div id="health-stat-minus">
        <p>&nbsp;-</p>
      </div>
      <div id="attack-stat">
        <p>&nbsp;&nbsp;&nbsp;attack-stat</p>
      </div>
      <div id="attack-stat-plus">
        <p>&nbsp;+</p>
      </div>
      <div id="attack-stat-minus">
        <p>&nbsp;-</p>
      </div>
      <div id="defense-stat">
          <p>&nbsp;&nbsp;&nbsp;defense-stat</p>
      </div>
      <div id="defense-stat-plus">
          <p>&nbsp;+</p>
      </div>
      <div id="defense-stat-minus">
          <p>&nbsp;-</p>
      </div>
      <img id="game-name-title" src="img/group-6.png" />

    </div> <!-- class="generate-card-page" -->

  </body>
</html>
