.desktop .group-5 {
  position: absolute;
  width: 435px;
  height: 641px;
  top: 223px;
  left: 109px;
}

.desktop .group-6 {
  position: absolute;
  width: 414px;
  height: 72px;
  top: 94px;
  left: 115px;
}

.desktop .group-wrapper {
  position: absolute;
  width: 309px;
  height: 39px;
  top: 171px;
  left: 168px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop .group-7 {
  height: 39px;
}

.desktop .group-8 {
  width: 311px;
  height: 39px;
}

.desktop .overlap-group-2 {
  position: relative;
  width: 309px;
  height: 39px;
  background-color: #ec6767;
  border-radius: 81px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 7px;
  left: 100px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-9 {
  position: absolute;
  width: 309px;
  height: 39px;
  top: 632px;
  left: 701px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 8px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-10 {
  position: absolute;
  width: 309px;
  height: 39px;
  top: 695px;
  left: 701px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 8px;
  left: 7px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-11 {
  position: absolute;
  width: 170px;
  height: 39px;
  top: 759px;
  left: 761px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.desktop .group-12 {
  width: 172px;
  height: 39px;
}

.desktop .overlap-group-3 {
  position: relative;
  width: 170px;
  height: 39px;
  background-color: #ec6767;
  border-radius: 81px;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 50px;
  top: 8px;
  left: 65px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-13 {
  position: absolute;
  width: 132px;
  height: 55px;
  top: 967px;
  left: 338px;
}

.desktop .group-14 {
  position: absolute;
  width: 194px;
  height: 55px;
  top: 967px;
  left: 475px;
}

.desktop .group-15 {
  position: absolute;
  width: 255px;
  height: 55px;
  top: 967px;
  left: 608px;
}

.desktop .group-16 {
  position: absolute;
  width: 257px;
  height: 55px;
  top: 967px;
  left: 147px;
}

.desktop .group-17 {
  position: absolute;
  width: 142px;
  height: 55px;
  top: 967px;
  left: 0;
}

.desktop .group-18 {
  position: absolute;
  width: 207px;
  height: 46px;
  top: 497px;
  left: 952px;
}

.desktop .group-19 {
  position: absolute;
  width: 207px;
  height: 46px;
  top: 552px;
  left: 952px;
}

.desktop .group-20 {
  position: absolute;
  width: 273px;
  height: 64px;
  top: 958px;
  left: 1155px;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 868px;
  left: 249px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 894px;
  left: 278px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
