<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    {{!--
    <meta name="viewport" content="width=device-width, intial-scale=1.0"> --}}
    <title>Build Deck</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/buildDeck.css">
</head>

<body>
    <h1>Instructions</h1>
    <div>
        <label for="deckDropdown">Select Deck:</label>
        <select id="deckDropdown" onchange="loadDeck()">
            {{#each decks}}
            <option value="{{deckId}}">{{deckName}}</option>
            {{/each}}
        </select>
    </div>

    <p>Maybe from which game?</p>

    <br>
    <div class="instructions">
        <p>Here you can build your deck depending on what game you wish to play. First select the game
            option from the scroll down. Then select an existing deck to edit or create a new deck. Click cards inside
            the staging area
            to remove them from your deck and click cards in the card carousel to add them to your deck. Once you're
            finished, click Done, name your new deck and click Save.</p>
    </div>
    <h1>Build Your Deck</h1>
    <div class="stagingArea" id="stagingArea">
    </div>

    <br><br><br>
    <!-- Handlebars template for card -->
    <div class="cardContainer" id="cardContainer">
    </div>

    <button id="resetButton" onclick="confirmReset()">Reset</button>
    <button id="saveDeckButton">Save Deck</button>

    <!-- Scripts and styles -->
    <script src="/buildDeckHelper.js"></script>

</body>