<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Build Deck</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/buildDeck.css">
</head>

<body>
    <h1>Instructions</h1>
    <div>
        <label for="deckDropdown">Select Deck:</label>
        <select id="deckDropdown">
            <option value="new_deck">Create New Deck</option>
            {{#each decks}}
            <option value="{{deckId}}">{{deckName}}</option>
            {{/each}}
        </select>
    </div>

    <br>
    <div class="instructions">
        <p>Here you can view the cards in your existing decks or build new decks.</p>
        <br>
        <p> To view cards in existing decks,
            simply select the name of the deck who's cards you'd like to view and they will appear in the green staging
            area.</p><br>
        <p> To build a new deck, use the dropdown and select "Create New Deck" which will clear out the staging
            area. This is the default dropdown selection for when the page is loaded so if you didn't view any decks,
            you can start building without any selections.You can then stage owned cards that are displayed below the
            staging area to build your new deck. Once
            you're done, remember to click the Save Deck or Update Deck button so that you can view or play with your
            new deck later.
        </p><br>
    </div>
    <button id="resetButton" onclick="confirmReset()">Reset Staging Area</button>


    <div id="buttonContainer">
        <button id="saveDeckButton">Save New Deck</button>
        <button id="updateDeckButton">Update Current Deck</button>
    </div>

    <h1>Build Your Deck</h1>
    <div class="stagingArea" id="stagingArea">
    </div>

    <br><br><br>
    <!-- Handlebars template for card -->
    <div class="cardContainer" id="cardContainer">
    </div>

    <!-- Scripts and styles -->
    <script src="/buildDeckHelper.js"></script>
</body>

</html>