<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="global.css">
</head>

<body>
  <div class="container1">
    <br><br> 
    <h1> Welcome to the Card Generation Page </h1>
    
    <div id="input-form">
    <form action="/cardGenBulkPage" method="get">
      <button id="gen-game-button-ggp" type="submit">Generate Bulk Cards</button>
    </form>
    </div>

    <div id="input-form">
      {{!-- Links to generateCard post --}}
      <form action="/cardViewEditPage" method="post" id="cardForm">
        <h3>Generate for which game?</h3><br>
        <select id="whichgame" name="whichgame">
          {{#each vals}}
            <option value="{{this.gameId}}">{{this.imageLocation}}</option>
          {{/each}}
        </select>
        <br><br><p>---------------------------------</p><br>
        <label for="rarity">Select Card Rarity:</label>
        <select id="rarity" name="rarity">
          <option value="Common">Common</option>
          <option value="uncommon">Uncommon</option>
          <option value="Rare">Rare</option>
          <option value="Legendary">Legendary</option>
        </select><br><br>
        <input name="cardName" type="text" placeholder="Card Name">
        <input name="theme" type="text" placeholder="Card Description">
        <input name="manaCost" type="number" placeholder="Mana Cost">
        <input name="color" type="text" placeholder="Color (currently None)">
        <label for="cardType">Select Type of Card:</label>
        <select id="cardType" name="cardType">
          <option value="Creature">Creature</option>
          <option value="Spell">Spell</option>
        </select><br><br>
        <div id="creatureFields">
          <input name="creatureType" type="text" placeholder="Type of Creature">
          <input type="number" id="creatureAttack" name="creatureAttack" placeholder="Attack"><br>
          <input type="number" id="creatureDefense" name="creatureDefense" placeholder="Defense"><br>
        </div>
        <div id="spellFields" style="display: none;">
          <label for="spellType">Select Spell Type:</label>
          <select id="spellType" name="spellType">
            <option value="Damage">Damage</option>
            <option value="Buff">Buff</option>
            <option value="Debuff">Debuff</option>
          </select> <br><br>
          <input type="number" id="spellAttack" name="spellAttack" placeholder="Attack"><br>
          <input type="number" id="spellDefense" name="spellDefense" placeholder="Defense"><br>
          <!--<input name="spellAbility" type="text" placeholder="Spell Ability">-->
          <br>
        </div>
        {{!-- <input id="abilitiesInputGgp" type="text" placeholder="Type Abilities">
        <input id="styleInputGgp" type="text" placeholder="Type Style"> --}}
        <button id="gen-game-button-ggp" type="submit">Generate New Card</button>
        {{#if error}}
        <p id="error">{{error}}</p>
        {{/if}}
      </form>
    </div>
    <script>
      document.getElementById('cardType').addEventListener('change', function () {
        var cardType = this.value;
        var creatureFields = document.getElementById('creatureFields');
        var spellFields = document.getElementById('spellFields');

        if (cardType === 'Creature') {
          creatureFields.style.display = 'block';
          spellFields.style.display = 'none';
        } else if (cardType === 'Spell') {
          creatureFields.style.display = 'none';
          spellFields.style.display = 'block';
        }
      });
    </script>
</body>
</html>