<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="global.css">
</head>

<body>
  <div class="container1">
    <br><br>
    <h1> Welcome to the Card Generation Page </h1>
    <div id="input-form">
      {{!-- Links to generateCard post --}}
      <form action="/generateCard" method="post" id="cardForm">
        <label for="cardType">Select Type of Card:</label>
        <select id="cardType" name="cardType">
          <option value="Creature">Creature</option>
          <option value="Spell">Spell</option>
        </select><br><br>
        <input name="theme" type="text" placeholder="Card Theme (several words)">
        <input name="cardName" type="text" placeholder="Card Name">
        <input name="number" type="text" placeholder="Number of Cards">
        <input name="manaCost" type="text" placeholder="Mana Cost">
        <div id="creatureFields">
          <input name="creatureHP" type="text" placeholder="Creature HP">
          <input name="creatureAttack" type="text" placeholder="Creature Attack">
        </div>
        <div id="spellFields" style="display: none;">
          <input name="spellAbility" type="text" placeholder="Spell Ability">
          <input name="spellHealth" type="text" placeholder="Heath Regeneration (if any)">
          <input name="spellAttack" type="text" placeholder="Spell Attack">
          <input name="spellFreeze" type="text" placeholder="Turns to freeze Creature">
        </div>
        {{!-- <input id="abilitiesInputGgp" type="text" placeholder="Type Abilities">
        <input id="styleInputGgp" type="text" placeholder="Type Style"> --}}
        <button id="gen-game-button-ggp" type="submit">Generate New Card</button>
        {{#if error}}
        <p id="error">{{error}}</p>
        {{/if}}
      </form>
    </div>
    <script>
      document.getElementById('cardType').addEventListener('change', function () {
        var cardType = this.value;
        var creatureFields = document.getElementById('creatureFields');
        var spellFields = document.getElementById('spellFields');

        if (cardType === 'Creature') {
          creatureFields.style.display = 'block';
          spellFields.style.display = 'none';
        } else if (cardType === 'Spell') {
          creatureFields.style.display = 'none';
          spellFields.style.display = 'block';
        }
      });
    </script>
</body >


</html>