<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>Card View Page</title>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="input-form"><br>
  <div class="cardContainer" id="cardContainer">
    
  </div>
  <a href="/cardGenPage">
      <button>Generate another Card</button>
    </a>
  </div>
  <script src="/singleHelper.js"></script>

  <!-- Your client-side code -->
</body>

</html>