<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="global.css">
</head>

<body>
  <div class="container1">
    <br><br>
    <h1> Welcome to the Card Generation Page </h1>
    <div id="input-form">
      <form action="gameGenerationPageAction" method="post">
        <label for="dropdown-menu">Select Type of Card:</label>
        <select id="dropdown-menu">
          <option value="option1">Creature</option>
          <option value="option1">Spell</option>
        </select><br><br>
        <input id="theme" type="text" placeholder="Card Theme (several words)">
        <input id="number" type="text" placeholder="Number of Cards">
        <input id="abilitiesInputGgp" type="text" placeholder="Type Abilities">
        <input id="styleInputGgp" type="text" placeholder="Type Style">
        <button id="gen-game-button-ggp" type="submit">Generate New Card</button>
      </form>
  </div>
</body>

</html>