<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>Card View Page</title>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>
    Inspect the Card
  </h1>
  <div>
    <img src="{{ val.[0].url }}" alt="Image">
    <img src="{{ val.[1].url }}" alt="Image">
    <img src="{{ val.[2].url }}" alt="Image">
  </div>
  <button>Edit</button>
  <button>Delete</button>
</body>
</html>