<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Card View Page</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Bulk Card Generation Results</h1>
    <div id="cardContainer">

    </div>
    <script src="/bulkHelper.js"></script>
</body>

</html>
