<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Collect</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <br>
    <h1 id="openPackTitle">Open A Pack To Bolster Your Collection</h1>
    <br><br>
    <form action="/openPack" method="get">
    <button id="gen-game-button-ggp" class="openPackButton" type="submit">Go Open a Pack of 5 New Cards</button>
    </form>
    <!--div class="instructions">
        <p>Collection_Id: </p>
        <p>List of Cards: </p>
        <p> Will need to grab userName and gameName to create CollectionId Name </p>
    </div -->
    <h2 id="collectionTitle">Collections</h2>
    <div id="collectionForms">
        <form action="/collect" method="get" id="cardForm">
            <h3 id="goToCollectionTitle"> Go to this Collection </h3>
            <select name="collectId" id="collectId">
                {{#each collect}}
                    <option value="{{this.collectionId}}">{{this.collectionName}}</option>
                {{/each}}
            </select>
        </form>
    </div>
    <a href></a>
    <div id="collection">
        <button type="button" id="collectionScrollLeft"> &lt; </button>
        <button type="button" id="collectionScrollRight"> &gt; </button>
        <h2 id="collectionLoadingTitle"> Loading...</h2>
        <div  id="collectionContainer"></div>
    </div>

    <script src="/sharedCardCode.js"></script>
    <script src="/collectionHelper.js"></script>
</body>