<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Collect</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/buildDeck.css">
</head>

<body>
    <h1>Open a Pack to bolster your collection</h1>
    <p>big old pack picture</p>
    <br><br>
    <form action="/openPack" method="'get">
    
    <button id="gen-game-button-ggp" type="submit">Open a Pack of 5 New Cards</button>
    {{#each collect}}
        <option value="{{ this.gameId }}">{{ this.playerId }}</option>
    {{/each}}
    </form>
    <div class="instructions">
        <p>Here you can see your collection.</p>
    </div>
    <header>Collection</header>
    <div class="stagingArea" id="stagingArea"></div>
    <div class="cardContainer" id="cardContainer"></div>
    <div class="navigation">
        <button id="prevBtn" onclick="navigateCards(-3)">Previous</button>

        <button id="nextBtn" onclick="navigateCards(3)">Next</button>
    </div>

    <span id="carouselCounter">1</span>
    <button id="resetBtn" onclick="resetGame()">Reset</button>

    <script type="module" src="/buildDeck.mjs"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</body>