<!DOCTYPE html>
<html lang="en">
{{!-- #TODO fix left pane --}}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play The Game</title>
  {{!--
  <link rel="stylesheet" href="global.css"> --}}
  <link rel="stylesheet" href="gamePlayStyles.css">
</head>

<body>
  <main>
    <div clas="cardContainer">
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <img src="/images/card-JackClubs.png" alt="" class="card-img">
          </div>
          <div class="card-back">
            <img src="/images/card-back-Blue.png" alt="" class="card-img">
          </div>
        </div>
      </div>
    </div>
  </main>

</body>

</html>