<!-- game.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Game</title>
    <link rel="stylesheet" href="gamePlay1.css">
</head>
</head>

<body>
    <h1>Card Game</h1>
    <div id="board" class="board">
        <div class="computer">
            <div class="drop-zone">
                <p>Computer Card Slot 1</p>
            </div>
            <div class="drop-zone">
                <p>Computer Card Slot 2</p>
            </div>
            <div class="drop-zone">
                <p>Computer Card Slot 3</p>
            </div>
            <div class="drop-zone">
                <p>Computer Card Slot 4</p>
            </div>
            <div class="drop-zone">
                <p>Computer Card Slot 5</p>
            </div>
        </div>
        <div class="player">
            <div class="drop-zone">
                <p>Player Card Slot 1</p>
            </div>
            <div class="drop-zone">
                <p>Player Card Slot 2</p>
            </div>
            <div class="drop-zone">
                <p>Player Card Slot 3</p>
            </div>
            <div class="drop-zone">
                <p>Player Card Slot 4</p>
            </div>
            <div class="drop-zone">
                <p>Player Card Slot 5</p>
            </div>
        </div>
    </div>

    <div id="hand" class="card-container">
        {{#each hand}}
        <div draggable="true" id="{{this}}" class="card">{{this}}</div>
        {{/each}}
    </div>
    <div>
        Remaining Deck Cards: {{remainingDeckCards}}
    </div>
    <button id="endTurnButton">End Turn</button>
    <!-- Add other controls as needed -->
    <script src="/public/gamePlay1Helper.js"></script>
</body>

</html>