<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>Game Generation Page</title>
  <link rel="stylesheet" href="global.css">
</head>

<body>
  <div class="container">
      <h1> Create a new Trading Card Game Below </h1>
      <div id="input-form">
        <form action="/gameGenerationPageAction" method="post">
          <input name="name" type="text" placeholder="What's the Deck's Name?"> 
          <label for="ruleSet">What's the rule set?</label>
          <select id="ruleSet" name="ruleSet">
            <option value="ruleSet1">Rule Set #1 (Creatures and Spells)</option>
            <option value="ruleSet2">Rule Set #2 (Combat Mechanics)</option>
          </select>
          <br><br>
          <input name="bool" type="text" placeholder="Would you like to auto-generate twenty creatures?">
          <button id="generateGame" type="submit">Generate New Game</button>
        </form>
    </div>
  </div>
</body>
</html>