<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>Game Generation Page</title>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="gameGenPage.css">
</head>

<body>
  <div class="containerNC">
    <div class="leftPane">
      <h1>Get Ready to Play a Game</h1>
      <br><br>
      <h2>Rule Sets</h2>
      <br><br>
      <h3>Rule Set 1: Creatures and Spells</h3>
      <h4>Creatures</h4>
      <ol>
        <li>Each player can have a maximum of 5 creatures on the battlefield at any given time.</li>
        <li>Creatures have Attack and Defense values</li>
        <li>If a creature's defense reaches zero or below, it is destroyed and placed into the graveyard.</li>
        <li>Creatures may have special abilities or effects that trigger under certain conditions.</li>
        <li>Players can summon creatures by paying the required mana cost, which is indicated on the card.</li>
        <li>Creatures can attack the opponent directly or other creatures controlled by the opponent.</li>
        <li>Recommended Number of cards: 30-40</li>
        <li>Distribution:
          <ul>
            <li>Common: 50%</li>
            <li>Uncommon: 30%</li>
            <li>Rare: 15%</li>
            <li>Legendary: 5%</li>
          </ul>
        </li>
      </ol>
      <h4>Spells</h4>
      <ol>
        <li>Spells are magical cards with various effects that can impact the game.</li>
        <li>Spells may include offensive spells that deal damage to creatures or players,
          defensive spells that protect creatures or players, and utility spells that
          manipulate the game state.</li>
        <li>Players can cast spells by paying the required mana cost, which is indicated
          on the card.</li>
        <li>Some spells may have instant effects that resolve immediately upon casting,
          while others may have ongoing effects that last for a specified duration.</li>
        <li>Recommended Number of cards: 25-50</li>
      </ol>
      <br><br>
      <h3>Rule Set 2: Combat Mechanics</h3>
      <h4>Combat Phase</h4>
      <ol>
        <li>Each turn consists of a combat phase where players can attack with their creatures.</li>
        <li>During the combat phase, the active player declares their attacking creatures
          and selects targets for their attacks.</li>
        <li>The defending player can choose to block attacking creatures with their own
          creatures or allow the attack to go through.</li>
        <li>If a creature is blocked, it deals damage to the blocking creature equal
          to its attack value, and vice versa.</li>
        <li>If a creature is unblocked, it deals damage to the defending player equal to its
          attack value.</li>
        <li>Damage dealt to creatures reduces their defense value. If a creature's defense
          reaches zero or below, it is destroyed and placed into the graveyard.</li>
        <li>After the combat phase, players proceed to the next phase of the turn.</li>
        <li>Recommended Number of Cards: 50-100</li>
        <li>Distribution:</li>
        <ul>
          <li>Combat Enhancements: 40%</li>
          <li>Defensive Tactics: 30%</li>
          <li>Offensive Maneuvers: 20%</li>
          <li>Special Tactics: 10%</li>
        </ul>
      </ol>
    </div>
    <div class="rightPane">
      <br><br>
      <h2> Select your settings and opponent </h2>
      <div id="input-form">
        <form action="/game/{{gameId}}" method="post">
          <label for="ruleSet">Select Rule Set:</label>
          <select id="ruleSet" name="ruleSet">
            <option value="ruleSet1">Rule Set #1 (Creatures and Spells)</option>
            <option value="ruleSet2">Rule Set #2 (Combat Mechanics)</option>
          </select>
          <br><br>
          <label for="userDeckSelect">Select User Deck:</label>
          <select id="userDeckSelect" name="userDeckSelect">
            {{#each decks}}
            <option value="{{deckId}}">{{deckName}}</option>
            {{/each}}
          </select>
          <button id="gen-game-button-ggp" type="submit">Play Game</button>
        </form>
      </div>
    </div>
  </div>


  <script src="game-gen.js"></script>
</body>

</html>