<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/game-generation-page/style.css" />
</head>

<body>
  <div class="gameGenPage">
    <h1>Game Generation Inputs</h1>
    <form action="gameGenerationPageAction" method="post">
      {{!-- INPUT: "Concepts" Route: app.post() to db --}}
      <input id="conceptsInputGgp" class="user-inputs" type="text" placeholder="Type Concepts">
      {{!-- INPUT: "Mechanics" Route: app.post() to db --}}
      <input id="mechanicsInputGgp" class="user-inputs" type="text" placeholder="Type Mechanics"
        style="margin-top: 10px;">
      {{!-- INPUT: "Abilities" Route: app.post() to db --}}
      <input id="abilitiesInputGgp" class="user-inputs" type="text" placeholder="Type Abilities"
        style="margin-top: 10px;">
      {{!-- INPUT: "Style" Route: app.post() to db --}}
      <input id="styleInputGgp" class="user-inputs" type="text" placeholder="Type Style"
        style="margin-top: 10px;">
      {{!-- BUTTON: "Generate New Game" Route: App.post() to db --}}
      <button id="gen-game-button-ggp" class="create-buttons" type="button">Generate New Game</button>
      {{!-- BUTTON: "Update Game" Route: App.put() to db --}}
      <button id="upd-game-button-ggp" class="create-buttons" type="submit" style="margin-top: 10px;">Update Game</button>
    </form>
    {{!-- Input Field Title --}}

      <p class="p">Online Trading Card Game Maker</p>
        <img id="user-button-ggp" class="user-icon" src="img/group-2.png" />
        <img id="card-img-hbs-ggp" class="group-5" src="img/group-10.png" />
        <img id="game-name-hbs-ggp" class="group-6" src="img/group-6.png" />
        <h4>Deck Name</h4>
        <div>
        {{!-- BUTTON: "New Game" Route: App.get() and link to refreshed game-play-page --}}
        <button id="new-game-p" type="button">New Game</button>
        {{!-- BUTTON: "New Deck" Route: App.put() to db --}}
        <button id="new-deck-button-ggp" type="button" style="margin-left: 10px;">New Deck</button>
        {{!-- BUTTON: "Change Deck" Route: App.get() from db --}}
        <button id="change-deck-button-ggp" type="button" style="margin-left: 10px;">Change Deck</button>
        {{!-- BUTTON: "Change Games" Route: Link to look-at-games page --}}
        <button id="change-games-button-ggp" type="button" style="margin-left: 10px;">Change Games</button>
        {{!-- BUTTON: "Save Game" Route: App.post () to db --}}
        <button id="save-game-button-ggp"  type="button" style="margin-left: 10px;">Save Game</button>
        {{!-- BUTTON: "Help" Route: Linkt to Help page (Ned to create) --}}
        <button id="view-rules-button-ggp"  type="button">Help</button>
        {{!-- BUTTON: "Browse Cards in Deck" Route: Link to current-deck-page --}}
        <button id="browse-cards-button-ggp" type="button">Browse Cards in Deck</button>
        {{!-- BUTTON: "View Rules" Route: App.get() from db --}}
        <button id="help-button-ggp" type="button" style="margin-top: 10px;">View Rules</button>
        {{!-- BUTTON: "Delete Game" Route: App.delete() from db --}}
        <button id="del-game-button-ggp" type="button">Delete Game</button>
        {{!-- HANDLEBARS: "Card No. X out of Y" Route: App.get() from db --}}
        <p id="cardno-hbs-ggp" class="text-wrapper-11">Card No. X out of Y</p>
        {{!-- HANDLEBARS: "Card Name" Route: App.get() from db--}}
        <h4>Card Name</h4>
        </div>
      </div>
  </div>
</body>

</html>