<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>Card View Page</title>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container1">
  <h1> Inspect the Game </h1>
  <div id="input-form"><br>
    <h3>Game Name: {{ game.[0].gameName }} </h3><br>
    <h3>Game Owner: {{ user.[0].username }} </h3><br>
  <form action="/cardGenPage" method="get">
    <button>Build Cards for this Game</button>
    <input type="hidden" name="gameId" value="{{ gameId }}">
  </form>
  </div>
  </div>
</body>
</html>