<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{username}}'s Profile</title>
  <link rel="stylesheet" type="text/css" href="/global.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <base href="http://localhost:3000">
</head>
{{!-- #TODO add number of decks --}}
{{!-- #TODO add option to brows between collections and decks --}}
  <body >
    <h1 id="helpPageTitle">Welcome to the Help Page</h1>


    
    <div id="helpPage">
      
      <div id="leftColumn">
        <h3 id="FAQTitle">Frequently Asked Questions: </h3>
        <ul id="FAQ">
          <li><div class="question"> How do I play this game? How do I start? </div>
            <p class="answer"> 
            First you will need to open a pack of cards. You can then also generate your own cards. Then
            you will need to build your deck of cards. Here are the steps to follow to do that:
            </p>
          </li>

          <li> <div class="question"> How much does this game cost? Is it free? </div>
            <p class="answer">
            This game is free! It does cost a few cents per image to generate through the ai image generator but 
            currently we are paying for it! 
            </p>
          </li>
      </ul>
    </div>

      
    <div id="rightColumn">
        <h3 id="helpfulLinksTitle">Helpful Links: </h3>
        <ul id="ulHelpColumn">
          <li class="helpLinks"><a href="/gameGenPage">Create A New Trading Card Game</a> </li>
          <li class="helpLinks"><a href="/collect">Browse Your collections </a></li>
          <li class="helpLinks"><a href="/buildDeck">Edit A Play Deck From One Of Your Collections</a></li>
          <li class="helpLinks"><a href="/gamePlayPage">Play With Your Created Deck Against An Opponent</a></li>
          <li class="helpLinks"><a href="/gamePlayPage"> Help! I'm Lost</a> </li>
        </ul>
      </div>
    </div> <!-- closing div tag for id="helpPage" -->
  
     <script src="helpPage.js"></script>
  </body>
</html>