<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="global.css">
</head>

<body>
  <div class="look-at-games-page">
    <title>Look At Games</title>

    <table>
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody id="matrixBody">
        <!-- Matrix content dynamically added here -->
      </tbody>
    </table>

    <script>
      // Populate matrix dynamically with image JSON, Game Name and Rule Set.
      document.addEventListener("DOMContentLoaded", function () {

        const numberOfColumns = 4

        // Replace with len(db_return)/numberOfColumns
        const numberOfRows = 5;

        // Get the matrix body element
        const matrixBody = document.getElementById("matrixBody");

        // Create rows
        for (let i = 1; i <= numberOfRows; i++) {

          const row = document.createElement("tr");

          // Create cells 
          for (let j = 1; j <= numberOfColumns; j++) {
            let cell = document.createElement("td");

            // Build matrix with content
            // Requires connection to db ***
            let gameName = document.createTextNode(`Game Name ${i}`);
            let ruleSet = document.createTextNode(`Rule Set ${j}`);

            let lineBreak = document.createElement('br');

            cell.appendChild(gameName);
            cell.appendChild(lineBreak);

            const gameImg = document.createElement("img");
          
            gameImg.src = `https://placekitten.com/100/100?image=${i * j}`; // Example image URL
            cell.appendChild(lineBreak);

            cell.append(ruleSet);
            cell.appendChild(gameImg);

            // Append cell to row
            row.appendChild(cell);
          }

          // Append row to matrix body
          matrixBody.appendChild(row);
        }
      });
    </script>

  </div>

  </div>

</body>

</html>