<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="/look-at-games-page/style.css" />
</head>

<body>
  <div class="look-at-games-page">
            <div class="box">
              <p id="gameName_1" class="box-attributes">Game Name</p>
              <img id="deckImage_1" class="box-attributes" src="your_image_url.jpg" alt="Game Image"
                style="margin-top: 100px;">
              <button id="ruleSet_1" class="box-attributes" style="margin-top: 200px;">Rule Set</button>
              <output class="box-attributes" style="margin-top: 50px;">Deck Name</output>
            </div>
        <p class="text-wrapper">Online Trading Card Game Maker</p>
        <img class="img" src="img/group-2.png" />
    </div>
  </div>
</body>

</html>