<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="global.css">
    {{{head}}}
</head>

<body>
    <header class="header">
        <h1>Online Trading Card Game Maker</h1>
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/browseGames">Play</a></li>
                <li><a href="/tradeAndCollect">Collect</a></li>
                <li><a href="/gameGenPage">Make</a></li>
                <li>
                    {{#if showLogoutButton}}
                    {{> logoutButton}} <!-- Include the logout button partial -->
                    {{/if}}
                    {{#if showLoginButton}}
                    {{> loginButton}}
                    {{/if}}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}} <!-- This is where the content of each specific view will be injected -->
    </main>

    <footer>
        <h3>Copyright by CS467 Team</h3>
    </footer>

    <!-- Add your script includes here -->
</body>

</html>