<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/global.css">
    {{{head}}}
</head>

<body>
    <header class="header">
        <h2>Online Trading Card Game Maker</h2>
    <nav>
    <ul class="nav__links">
        <li><a href="/gamePlayPage">Play</a></li>
        <li class="dropdown">
            <span onclick="toggleDropdown()">Collect</span>
            <ul class="dropdown-menu">
                <li><a href="/trading">Trade Cards</a></li>
                <li><a href="/collect">Collect Cards</a></li>
                <!-- Add more sub-items as needed -->
            </ul>
        </li>
        <li class="dropdown" id="makeDropdown">
            <span onclick="toggleDropdown()">Make</span>
            <ul class="dropdown-menu">
                <li><a href="/cardGenPage">Cards</a></li>
                <li><a href="/gameGenPage">Game</a></li>
                <li><a href="/buildDeck">Deck</a></li>
                <!-- Add more sub-items as needed -->
            </ul>
        </li>
        <li><a href="/help">Help</a></li>
        <li><a href="/userProfile">Home</a></li>
    </ul>
    </nav>
    </header>
    
    <main>
        {{{body}}} <!-- This is where the content of each specific view will be injected -->
    </main>

    <!-- Add your script includes here -->
</body>

</html>