<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>Create New Game</title>
  <link rel="stylesheet" type="text/css" href="/global.css">
</head>

<body>
    <div class="rowZero">
        <div class="stageAreaZero">
            <div class="topStageText">Click Card To Stage It Here</div>
            <div class="bottomStageText">Click Card To Stage It Here</div>
        </div>
        <div id="scrollDeck">
        <!--
            <div class="testDiv"    id ="testDiv0"><img src="images/goblin-willow-tree.jpg" id="goblin" /></div>
            <div class="testDivAlt" id ="testDiv1"><img src="images/dark-wizard.png" id="darkWizard"/> </div>
            <div class="testDiv"    id ="testDiv2"><img src="images/goblin-willow-tree.jpg" id="goblin" /></div>
            <div class="testDivAlt" id ="testDiv3"><img src="images/dark-wizard.png" id="darkWizard"/> </div>
            <div class="testDiv"    id ="testDiv4"><img src="images/goblin-willow-tree.jpg" id="goblin" /></div>
            <div class="testDivAlt" id ="testDiv5"><img src="images/dark-wizard.png" id="darkWizard"/> </div>
            <div class="testDiv"    id= "testDiv6"><img src="images/goblin-willow-tree.jpg" id="goblin" /></div>
            <div class="testDivAlt" id ="testDiv7"><img src="images/dark-wizard.png" id="darkWizard"/> </div>
            <div class="testDiv"    id ="testDiv8"><img src="images/goblin-willow-tree.jpg" id="goblin" /></div>
            <div class="testDivAlt" id ="testDiv9"><img src="images/dark-wizard.png" id="darkWizard"/> </div>
            <div class="testDiv"    id ="testDiv10"><img src="images/goblin-willow-tree.jpg" id="goblin" /></div>
            <div class="testDivAlt" id ="testDiv11"><img src="images/dark-wizard.png" id="darkWizard"/> </div>
            <div class="testDiv"    id ="testDiv12"><img src="images/goblin-willow-tree.jpg" id="goblin" /></div>
            <div class="testDivAlt" id ="testDiv13"><img src="images/dark-wizard.png" id="darkWizard"/> </div>
            <div class="testDiv"    id ="testDiv14"><img src="images/goblin-willow-tree.jpg" id="goblin" /></div>
        -->
        </div>
    </div>
    
    <script src="/tradeAndCollect.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</body>
