<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- <meta charset="utf-8" /> --}}
  {{!-- <meta name="viewport" content="width=device-width, intial-scale=1.0"> --}}
    <title>Create New Game</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="rowZero">
        <div id="stageAreaZero">
            <div class="topStageText">Click Card To Stage It Here</div>
            <div class="bottomStageText">Click Card To Stage It Here</div>
        </div>
        <div id="scrollDeck">
            <button type="button" id="scrollLeft"> &lt; </button>
            <button type="button" id="scrollRight"> &gt; </button>
            <div id="cardSlots"></div>
        </div>
    </div>

    <div class="row1">
        <div id="stageArea1">
            <div class="topStageText">Click Card To Stage It Here</div>
            <div class="bottomStageText">Click Card To Stage It Here</div>
        </div>
        <div id="scrollDeck1">
            <button type="button" id="scrollLeft1"> &lt; </button>
            <button type="button" id="scrollRight1"> &gt; </button>
            <div id="cardSlots1"></div>
        </div>
    </div>

    <script type="module" src="/tradeAndCollect.mjs"></script>
</body>