<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- <meta charset="utf-8" /> --}}
  {{!-- <meta name="viewport" content="width=device-width, intial-scale=1.0"> --}}
    <title>Create New Game</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="userRow">
        <div class="topStageText">Click Card To Stage It Here</div>
        <div id="userStageArea"></div>
        <div class="bottomStageText">Click Card To Stage It Here</div>

        <button type="button" id="userStartTradeButton"> START<br>TRADE</button>
        <div id="userScrollDeck">
            <button type="button" id="userScrollLeft"> &lt; </button>
            <button type="button" id="userScrollRight"> &gt; </button>
            <div id="userCardSlots"></div>
        </div>
    </div>

    <script type="module" src="/tradeAndCollect.mjs"></script>
</body>