<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- <meta charset="utf-8" /> --}}
  {{!-- <meta name="viewport" content="width=device-width, intial-scale=1.0"> --}}
    <title>Create New Game</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="userRow">
        
        <div id="otherScrollDeck">
            <button type="button" id="otherStartTradeButton"> START<br>TRADE</button>
            <button type="button" id="otherScrollLeft"> &lt; </button>
            <button type="button" id="otherScrollRight"> &gt; </button>
            <div id="otherCardSlots"></div>
        </div>

        <div id="stageArea">
            <div class="otherTopStageText">Click Card To Stage It Here</div>
            <div class="otherBottomStageText">Click Card To Stage It Here</div>
            <div id="otherStageArea"></div>

            <div id="userStageArea"></div>
            <div class="userTopStageText">Click Card To Stage It Here</div>
            <div class="userBottomStageText">Click Card To Stage It Here</div>
        </div>

        <div id="userScrollDeck">
             <button type="button" id="userStartTradeButton"> START<br>TRADE</button>
            <button type="button" id="userScrollLeft"> &lt; </button>
            <button type="button" id="userScrollRight"> &gt; </button>
            <div id="userCardSlots"></div>
        </div>
    </div>

    <script type="module" src="/tradeAndCollect.mjs"></script>
</body>