<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- <meta charset="utf-8" /> --}}
  {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
  <title>{{username}}'s Profile</title>
  <link rel="stylesheet" type="text/css" href="/global.css">
  <base href="http://localhost:3000">
</head>

<body>
  <main>
    <h1>{{username}}'s Profile</h1>
    <div>
      <button type="button">Browse User Games</button>
      <button type="button">Browse User Decks</button>
      <button type="button">Current Game</button>
      <button type="button">Current Deck</button>
    </div>
  </main>
</body>

</html>