<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
<<<<<<< HEAD
  <link rel="stylesheet" href="global.css" />
=======
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="/user-profile-page/style.css" />
>>>>>>> ecde66f037b0974f781e71ec6a9270a1fa2e8d8d
</head>

<body>
  <div class="user-profile-page">
    <div class="button-container">
      {{!-- BUTTON: "Browse User Games" Route: Route: Link to Collection --> app.get() userGames filtering --}}
      <button id="userGames" class="button" type="button">Browse User Games</button>
      <button id="userDecks" class="button" type="button" style="margin-top: 1px;">Browse User Decks</button>
      <button id="currentGame" class="button" type="button">Current Game</button>
      <button id="currentDeck" class="button" type="button">Current Deck</button>
    </div>

    <div class="output-container">
      {{!-- HANDLEBARS: "Stats" Route: App.get() to db--}}
      <output id="gamesOwned" class="output-element">Games Owned: {{ user_id.game_count }}</output>
      <output id="cardsOwned" class="output-element">Cards Owned: DB - HTML </output>
      <output id="wlRatio" class="output-element">W/L Ratio: {{ user_id.wins }} / {{ user_id.losses }}</output>
      <output id="userSince" class="output-element">User Since: DB - HTML </output>
    </div>
  </div>
</body>

</html>