<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>Welcome Page</title>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div>
      <div id="input-form">
        <h2>Login</h2>
        <form class="loginUser" method="POST" action="/login">
          <label for="usernameWpp">Username:</label>
          <input id="usernameWpp" name="usernameWpp" type="text" placeholder="Username">
          <label for="passwordWpp">Password:</label>
          <input id="passwordWpp" name="passwordWpp" type="text" placeholder="Password">
          {{#if error}}
          <p id="error">{{error}}</p>
          {{/if}}
          <button id="loginWpp" type="submit">Login</button>
        </form>
      </div>

      <div class="bottomButtonsMain">
        <button id="newuserWpp" class="newUser" type="button">New User?</button>
        <button id="browseGamesWpp" type="button">Browse Games</button>
      </div>

      <br>
  </div>

</body>

</html>