<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="current-deck-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="group">
            <div class="overlap-group">
              <div class="div">
                <div class="text-wrapper">Card Library</div>
                <p class="p">Drag desired card left to deck</p>
              </div>
            </div>
            <div class="rectangle"></div>
          </div>
          <p class="text-wrapper-2">Online Trading Card Game Maker</p>
          <img class="img" src="img/group-2.png" />
          <img class="group-2" src="img/group-10.png" />
          <img class="group-3" src="img/group-35.png" />
          <img class="group-4" src="img/group-35.png" />
          <img class="group-5" src="img/group-35.png" />
          <img class="group-6" src="img/group-35.png" />
          <img class="group-7" src="img/group-35.png" />
          <img class="group-8" src="img/group-35.png" />
          <img class="group-9" src="img/group-6.png" />
          <div class="group-wrapper">
            <div class="div-wrapper">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2"><div class="text-wrapper-3">Generate Cards</div></div>
              </div>
            </div>
          </div>
          <p class="text-wrapper-4">Card No. X out of Y</p>
          <div class="text-wrapper-5">Card Name</div>
          <div class="group-10">
            <div class="overlap-2">
              <div class="group-11"></div>
              <div class="group-12">
                <div class="group-13">
                  <div class="overlap-group-3"><div class="text-wrapper-6">Make</div></div>
                </div>
                <div class="text-wrapper-7">Collect</div>
                <div class="group-14">
                  <div class="group-15">
                    <div class="overlap-group-3"><div class="text-wrapper-8">Trade</div></div>
                  </div>
                </div>
                <div class="group-16">
                  <div class="group-15">
                    <div class="overlap-group-3"><div class="text-wrapper-9">Play</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="pngwing" src="img/pngwing-9.png" />
          <img class="pngwing-2" src="img/pngwing-10.png" />
          <img class="pngwing-3" src="img/pngwing-9.png" />
          <img class="pngwing-4" src="img/pngwing-10.png" />
          <div class="text-wrapper-10">Scroll Deck</div>
          <div class="text-wrapper-11">Scroll Library</div>
          <div class="text-wrapper-12">Card Name</div>
          <div class="text-wrapper-13">Card Name</div>
          <div class="text-wrapper-14">Card Name</div>
          <div class="text-wrapper-15">Card Name</div>
          <div class="text-wrapper-16">Card Name</div>
          <div class="text-wrapper-17">Card Name</div>
        </div>
      </div>
    </div>
  </body>
</html>
