<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop-a">
        <div class="overlap-a">
            <div class="overlap-group-a"></div>
            <div class="top-bar"></div>
          <p class="application-title">Online Trading Card Game Maker</p>
        </div> <!-- class="overlap-a" -->
        
        {{!-- BUTTON: "Play"
              Route: Link to look-at-games-page + app.get() (prompt asking if they'd like to play current game selected
              or
              browse games)
              --}}
        <button id="play-button-ggp" class="play-menu-button" type="button">Play</button>

        {{!-- BUTTON: "Trade"
              Route: Link to trade-page (Need to create)
              --}}
        <button id="trade-button-ggp" class="trade-menu-button" type="button">Trade</button>

        {{!-- BUTTON: "Make"
              Route: Link to game-generation-page--}}
        <button id="make-button-ggp" class="make-menu-button" type="button">Make</button>

        {{!-- BUTTON: "Collect"
              Route: Link to collect-page (Need to create) --}}
        <button id="collect-button-ggp" class="collect-menu-button" type="button">Collect</button>
         <img class="user-logo" src="img/group-2.png" />
    </div> <!-- class="desktop-a" -->

    <div class="reset-password-page">
        <h1 class="reset-password-title">
            Reset Password
        </h1>
       <div class="reset-password-div">
          <form class="reset-password-form" method="POST" action="">
            <div class="text-wrapper-2">
                <label class="label-username" for="input-username">
                   Username
                  <input type="text" name="input-username" id="input-username">
                </label>
            </div>
            <div class="text-wrapper-3">
                <label class="label-new-password" for="input-new-password">
                   New Password
                  <input type="text" name="input-new-password" id="input-new-password">
                </label>
            </div>
            <div class="text-wrapper-4">
                <label class="label-repeat-password" for="repeat-new-password"> 
                  Repeat New Password
                  <input type="text" name="input-repeat-password" id="input-repeat-password">
                </label>
            </div>
            <div class="text-wrapper-5">
                <label class="label-email" for="input-email">
                   Enter Email
                  <input type="text" name="input-email" id="input-email">
                </label>
            </div>
          </form>
      </div> <!-- class="reset-password-div" -->



    </div> <!-- class="reset-password-page" -->




  </body>
</html>
