.drop-zone {
    width: 150px; 
    height: 210px; 
    border: 2px dashed #000;
    margin: 10px;
    display: inline-block;
    flex-wrap: wrap;
    position: relative;
}

.card {
    width: 100px;
    height: 140px;
    margin: 5px;
    border: 1px solid black; 
    cursor: pointer;
}

.board {
    border: 2px solid green;
    width: auto;
    height: auto;
    margin: 20px;
    justify-content: space-evenly;
}

.computer, .player {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    position: relative;
}

.card-container {
    display: flex;
    justify-content: center;
}

.playerError {
    display: none; 
    position: absolute;
    top: -20px; 
    background-color: red; 
    color: white; 
    padding: 5px; 
    height: 20px;
}

.playerError.show {
    display: block; /* Show the error message */
    height: 20px;
}