/* Page-Specific CSS Code */

/* general card css */

/* old css for card
.card {
    width: 10.5vw;
    height: 100%;
    // Card container height
    background-color: beige;
    border: 3px solid #000;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 5px;
    // Add margin between cards
    z-index: 2;
} */

#cardList {
    border: 1px solid #ccc;
    min-height: 200px;
}

/* Add some basic styling for the tooltip */
.toolTip {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.toolTipText {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    top: -100%;
    left: 0;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

/* Show tooltip text when hovering over the .card element */
.card:hover .toolTipText {
    display: block;
}

.stagingArea .cardContainer {
    flex: 0 0 calc(16.666% - 10px);
    /* Set to approximately 100% / 6 with gap in mind */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
}

.cardContainer {
    max-width: 100%;
    margin: 0 auto;
    /* Center the container */
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    height: 350px;
    /* Card container height */
    border: 2px solid #000;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-right: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    /* background-color: #bbb; */
    /* z-index: 0; */
    /* Add margin between cards */
}

.textOverlayBottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(226, 180, 180, 0.7);
    /* Add a semi-transparent background */
    padding: 5px;
    text-align: center;
    width: 100%;
}

.textOverlayTop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(226, 180, 180, 0.7);
    /* Add a semi-transparent background */
    padding: 0px;
    text-align: center;
    width: 100%;
}

.cardBackground {
    height: 100%;
    margin: 10px 10px 10px 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    background-image: url(https://image.ibb.co/e1XKAS/green_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}


.cardFrame {
    z-index: 1;
    position: relative;
    height: 350px;
    max-width: 97%;
    left: 1%;
    top: 0.5%;
    left: 1.2%;
    display: flex;
    flex-direction: column;
}

.card:last-child {
    margin-right: 0;
    /* Remove margin from the last card */
}

.card:hover {
    transform: scale(1.05);
}

.cardName {
    font-size: 1.2em;
    font-family: fancy;
    font-weight: 600;
    margin: 0;
    color: #000;
    font-weight: bold;
    white-space: nowrap;
}

.cardImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* height: 50%;
    width: 50%;
    overflow: hidden;
    margin: 0 10px; */
    /* justify-content: center;
    display: flex;
    align-items: center; */
}

.frame-header,
.frame-art,
.frame-type-line {
    box-shadow:
        0 0 0 2px #171314,
        0 0 0 5px #26714A,
        -3px 3px 2px 5px #171314;

    margin-bottom: 7px;
}

.attributes {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.cardContent {
    overflow: hidden;
}

h1,
header {
    font-size: xx-large;
    font-weight: bold;
    background-image: linear-gradient(to left, #449a3c, #a7d393);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.cardType {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

/* help page css */
#helpPage {
    position: relative;
    display: flex;
    flex-direction: row;
}

#helpPageTitle{
    color: rebeccapurple;
    margin: 1vw;
}

#helpfulLinksTitle{
    color: rebeccapurple;
    margin: 2vh;
}

#leftColumn {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#rightColumn {
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(173, 124, 173);
    border-style:ridge;
    width: 30%;
}

#FAQ {
    list-style-type: disc;
}

#FAQTitle{
    width: 100%;
    text-align: left;
    color: #4caf50;
    margin: 2vh;
}

.question{
    list-style-type: none;
    text-decoration: underline;
    color: #4caf50;
}

.question:hover {
    cursor: pointer;
}

.answer {
    display: none;
    text-decoration: none;
}

#ulHelpColumn {
    display: flex;
    flex-direction: column;
}

.helpLinks{
    width: 90%;
    list-style: none;
    margin: 2% 2% 2% 8%;
}

.helpLinks a{
    color: rebeccapurple;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}

/* main.handlebars */
.bottomButtonsMain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adjust as needed */
}

/* lookAtGames.handlebars */
.game-name {
    font-size: x-large;
    font-weight: bold;
}

#lookAtGames img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    /* Add margin to separate image and name */
    margin-bottom: 10px;
    /* Add margin to separate image and ruleset button */
}

/* Collection Page */
#openPackTitle{
    color: rgb(154, 87, 154);
}

.openPackButton{
    background-color: rgb(154, 87, 154);
}

#collection{
    position: relative;
    width: 100%;
    height: 160vh;
    background-color: #d8eece;
    border-radius: 15px;
}

#collectionTitle{
    width: 100%;
    text-align: center;
    color: #4caf50;
    font-size: 3em;
}

#collectionSelect {
    width: 6vw;
    height: 3vw;
    margin: 1vw;
    background-color: #4caf50; 
    border-radius: 5px;
    color: white;
    z-index: 100;
}


#collectionContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6.5vh;
    margin: 0vh;
}

#collectionScrollLeft{
    position: absolute;
    width: 6%;
    height: 4%;
    left: -12vh;
    top: 50%;
}

#collectionScrollRight{
    position: absolute;
    width: 6%;
    height: 4%;
    right: -12vh;
    top: 50%;
}

/* Trading Page */
#noteToProgrammers{
    padding: 2vh;
}

#tradePopUpForm{
    display: none;
    position: absolute;
    top: 33%;
    left: 6%;
    width: 88%;
    height: 40%;
    padding: 1vh;
    margin: 0vh;
    background-color: rgb(177, 200, 204);
    border-radius: 10px;
    z-index: 100;
}

#tradeRequest{
    padding: 1vw;
    margin: 0vw;
}

#tradeButtonSection {
    position: absolute;
    bottom: 1vh;
}

#otherPlayerTradeSection, #userTradeSection{
    display: inline-block;
    width: 49%;
}

#otherPlayerTradeSlots, #userTradeSlots{
    position: relative;
    display: flex;
    flex-direction: row;
}

.tradeButtons{
    display: inline-block;
    background-color: #4caf50;
}

#declineTradeButton{
    background-color: rgb(196, 63, 63);
}

#otherTradedCardsTitle, #userTradedCardsTitle{
    font-size: 1em;
    padding-bottom: .5em;
    color: black;
}

#stageArea{
    display: flex;
    flex-direction: row;
    position: relative;
}

.otherStageAreaClass, .userStageAreaClass {
    display: flex;
    flex-direction: row;
    width: 50%;
    position: relative;
    height: 24vw;
    color: grey;
    padding: 0vh 1vh 1vh 1vh;
    z-index:  10;

}

.otherStageAreaClass {
    border:  5px dashed grey;
}

.userStageAreaClass {
    border-width: 5px 5px 5px 0px;
    border-style: dashed;
    border-color: grey;
}

.otherTopStageText {
    position: absolute;
    top: 2vw;
    width: 50%;
    text-align: center;
}

.userTopStageText {
    position: absolute;
    top: 2vw;
    right: 0vw;
    width: 50%;
    text-align: center;
}

.otherBottomStageText {
    position: absolute;
    bottom: 2vw;
    width: 50%;
    text-align: center;
}

.userBottomStageText {
    position: absolute;
    bottom: 2vw;
    right: 0vw;
    width: 50%;
    text-align: center;
}

#otherPlayerTitle{
    position: absolute;
    top: 9vw;
    width: 50%;
    text-align: center;
}

#userTitle{
    position: absolute;
    top: 9vw;
    right: 0vw;
    width: 50%;
    text-align: center;
}

#otherPlayerTitle h2{
    color:rgb(173, 124, 173);
}

#userTitle h2{
    color: #a7d393;
}

#otherPlayerDeck {
    color: purple;
    width: 100%;
    text-align: center;
    margin: 1vw;
}

#userDeck{
    color: #0ba710;
    width: 100%;
    text-align: center;
    margin: 1vw;
}

#startTradeButton {
    position: absolute;
    left: -6vw;
    top: -12vw;
}

#userScrollDeck, #otherScrollDeck{
    position: relative;
    padding: 1%;
}

#userScrollLeft, #otherScrollLeft{
    position: absolute;
    left: -4vw;
    width: 4%;
    height: 16%;
}

#userScrollRight, #otherScrollRight{
    position: absolute;
    right: -4vw;
    width: 4%;
    height: 16%;
}

#userScrollLeft, #userScrollRight{
    top: 42%;
}

#otherScrollLeft, #otherScrollRight{
    background-color: purple;
    top: 42%;
}

#userCardSlots, #otherCardSlots{
    display: flex;
    flex-direction: row;
}


/* userProfile */
.userBrowsing {
    width: 50%;

    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
}

.userContainer {
    display: flex;
}

.userCollection,
.otherCollections {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;

}

.userStats {
    width: calc(33.33% - 30px);
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
}

.userStats p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.userStats p:first-child {
    font-weight: bold;
}

.userStats p:last-child {
    margin-bottom: 0;
}

.userStats:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Login homepage */
#loginButton {
    border: 1px solid rgba(10, 180, 180, 1);
    background: #4caf50;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;

    &:hover {
        background: rgba(0, 136, 169, 1);
        padding: 10px 80px;
    }
}

.iconContainer {
    position: relative;
}

.material-icons {
    position: absolute;
    top: 35%;
    left: 93%;
    transform: translateY(-50%);
    color: #757575;
    /* Adjust the color as needed */
}/* Page-Specific CSS Code */

/* general card css */
.cardContainer {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 10.5vw;
    height: 18.5vw;
    /* Card container height */
    background-color: beige;
    border: 3px solid #000;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-right: 10px;
    margin-bottom: 20px;
    /* Add margin between cards */
    z-index: 2;
}

.card:last-child {
    margin-right: 0;
    /* Remove margin from the last card */
}

.card:hover {
    transform: scale(1.05);
}

.cardContent {
    padding: 10px;
}

.cardName {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.cardImage img {
    width: 100%;
    height: auto;
}

.attributes {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

/* main.handlebars */
.bottomButtonsMain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adjust as needed */
}

/* lookAtGames.handlebars */
.game-name {
    font-size: x-large;
    font-weight: bold;
}

#lookAtGames img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    /* Add margin to separate image and name */
    margin-bottom: 10px;
    /* Add margin to separate image and ruleset button */
}

/* TradeAndCollect Page */
#noteToProgrammers{
    padding: 2vh;
}

#tradePopUpForm{
    display: none;
    position: absolute;
    top: 33%;
    left: 6%;
    width: 88%;
    height: 40%;
    padding: 1vh;
    margin: 0vh;
    background-color: rgb(177, 200, 204);
    border: 2px solid black;
    border-radius: 10px;
    z-index: 100;
}

#tradeRequest{
    padding: 1vw;
    margin: 0vw;
}

#tradeButtonSection {
    position: absolute;
    bottom: 1vh;
}

#otherPlayerTradeSection, #userTradeSection{
    display: inline-block;
    width: 49%;
}

#otherPlayerTradeSlots, #userTradeSlots{
    position: relative;
    display: flex;
    flex-direction: row;
}

.tradeButtons{
    display: inline-block;
    background-color: #4caf50;
}

#declineTradeButton{
    background-color: rgb(196, 63, 63);
}

#otherTradedCardsTitle, #userTradedCardsTitle{
    font-size: 1em;
    padding-bottom: .5em;
    color: black;
}

#stageArea{
    display: flex;
    flex-direction: row;
    position: relative;
}

.otherStageAreaClass, .userStageAreaClass {
    display: flex;
    flex-direction: row;
    width: 50%;
    position: relative;
    height: 20vw;
    color: grey;
    z-index:  10;
    margin: 1vh 0vh;
}

.otherStageAreaClass {
    border:  5px dashed grey;
}

.userStageAreaClass {
    border-width: 5px 5px 5px 0px;
    border-style: dashed;
    border-color: grey;
}

.otherTopStageText {
    position: absolute;
    top: 2vw;
    width: 50%;
    text-align: center;
}

.userTopStageText {
    position: absolute;
    top: 2vw;
    right: 0vw;
    width: 50%;
    text-align: center;
}

.otherBottomStageText {
    position: absolute;
    bottom: 2vw;
    width: 50%;
    text-align: center;
}

.userBottomStageText {
    position: absolute;
    bottom: 2vw;
    right: 0vw;
    width: 50%;
    text-align: center;
}

#otherPlayerTitle{
    position: absolute;
    top: 9vw;
    width: 50%;
    text-align: center;
}

#userTitle{
    position: absolute;
    top: 9vw;
    right: 0vw;
    width: 50%;
    text-align: center;
}

#otherPlayerTitle h2{
    color: rgb(173, 124, 173);
}

#userTitle h2{
    color: #a7d393;
}

#otherPlayerDeck {
    color: purple;
    width: 100%;
    text-align: center;
    margin: 1vw;
}

#userDeck{
    color: #0ba710;
    width: 100%;
    text-align: center;
    margin: 1vw;
}

#startTradeButton {
    position: absolute;
    left: -6vw;
    top: -12vw;
}

#userScrollDeck, #otherScrollDeck{
    position: relative;
}

#userScrollLeft, #otherScrollLeft{
    position: absolute;
    left: -3vw;
}

#userScrollRight, #otherScrollRight{
    position: absolute;
    right: -3vw;
}

#userScrollLeft, #userScrollRight{
    top: 9vw;
}

#otherScrollLeft, #otherScrollRight{
    background-color: purple;
    top: 7vw;
}

#userCardSlots, #otherCardSlots{
    display: flex;
    flex-direction: row;
}


/* userProfile */
.userBrowsing {
    width: 50%;

    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
}

.userContainer {
    display: flex;
}

.userCollection,
.otherCollections {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;

}

.userStats {
    width: calc(33.33% - 30px);
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
}

.userStats p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.userStats p:first-child {
    font-weight: bold;
}

.userStats p:last-child {
    margin-bottom: 0;
}

.userStats:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Login homepage */
#loginButton {
    border: 1px solid rgba(10, 180, 180, 1);
    background: #4caf50;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;

    &:hover {
        background: rgba(0, 136, 169, 1);
        padding: 10px 80px;
    }
}

.iconContainer {
    position: relative;
}

.material-icons {
    position: absolute;
    top: 35%;
    left: 93%;
    transform: translateY(-50%);
    color: #757575;
    /* Adjust the color as needed */
}

/* miniGame page css */
#cardBulkDiv{
    position: relative;
}

#miniGame {
    display: none;
    position: absolute;
    top: 0%;
    left: -10%;
    background-color: rgb(177, 200, 204); 
    border: 2px solid black;
    border-radius: 15px;
    z-index: 100;
    padding: 1vw;
}

.cardSlots{
    width: 10.5vw;
    height: 18.5vw;
}

#playGameButtonDiv{
    position: absolute;
    color: rgb(173, 124, 173);
    border-left: 2px solid black;
    padding-left: 2vh;
    width: 15%;
    bottom: 5%;
    right: 0%;
}

#playGameButton {
    background-color: rgb(154, 87, 154);
    margin: 0% 0% 0% 15%;
    margin-top: 1vh;
}

#refreshGameButton {
    position: absolute;
    bottom: -4.5vh;
    right: 1vh;
    font-weight: bolder;
    color: white;
    background-color: rgb(154, 87, 154);
    border: 2px solid black;
    border-radius: 5px;
    padding: .5vh;
}

#minimizeButton {
    position: absolute;
    top: -10vh;
    right: 1vh;
    font-size: 4em;
    background-color: transparent;
    color: black;
}

.miniGameRow {
    display: flex;
    flex-direction: row;
    height: 24vw;
    justify-content: space-between;
    padding: 2vw 2vw 0vw 2vw;
}

.miniGameCard {
    margin: 0px;
    position: relative;
}

.miniGameCard:hover {
    transform: scale(1.00);
}

.miniGameCardBack {
    background-color: rgb(231, 227, 227);
}

#wonTitlePart1 {
    display: none;
    position: absolute;
    padding: 0px;
    color: #4caf50;
    font-size: 4em;
    top: 45%;
    left: 20%;
    z-index: 999;
}

#wonTitlePart2 {
    display: none;
    position: absolute;
    padding: 0px;
    color: rgb(154, 87, 154);
    font-size: 4em;
    top: 55%;
    right: 20%;
    z-index: 999;
}
