/* Page-Specific CSS Code */

/* main.handlebars */
.bottomButtonsMain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adjust as needed */
}

/* lookAtGames.handlebars */
.game-name {
    font-size: x-large;
    font-weight: bold;
}

#lookAtGames img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    /* Add margin to separate image and name */
    margin-bottom: 10px;
    /* Add margin to separate image and ruleset button */
}

/* TradeAndCollect Page */
.rowZero {
    position: relative;
    height: 45vw;
    margin: 0vw 3vw;
}

/* scrollDeck div is inside rowZero div */
#scrollDeck {
    position: relative;
    width: 100%;
}

/* cardSlots and the buttons scrollLeft/scrollRight 
are inside scrollDeck div */
#cardSlots {
    width: 100vw;
    height: 15vw;
}

#scrollLeft {
    position: absolute;
    left: -3vw;
    top: 5vw;
}

#scrollRight {
    position: absolute;
    right: -3vw;
    top: 5vw;
}

.stageAreaZero {
    position: relative;
    height: 30vw;
    color: white;
    border-color: grey;
    border-width: 5px;
    border-style: dashed;
    color: grey;
    margin-top: 1.5vw;
}

.topStageText {
    position: absolute;
    top: 1vw;
    width: 80vw;
    text-align: center;
}

.topStageText:hover {
    position: absolute;
    top: 1vw;
    width: 80vw;
    text-align: center;
}

.bottomStageText {
    position: absolute;
    bottom: 1vw;
    width: 80vw;
    text-align: center;
}

.bottomStageText:hover {
    position: absolute;
    bottom: 1vw;
    width: 80vw;
    text-align: center;
}

/* userProfile */
.userBrowsing {
    width: 50%;

    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
}

.userContainer {
    display: flex;
}

.userCollection,
.otherCollections {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;

}

.userStats {
    width: calc(33.33% - 30px);
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
}

.userStats p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.userStats p:first-child {
    font-weight: bold;
}

.userStats p:last-child {
    margin-bottom: 0;
}

.userStats:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Login homepage */
#loginButton {
    border: 1px solid rgba(10, 180, 180, 1);
    background: #4caf50;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;

    &:hover {
        background: rgba(0, 136, 169, 1);
        padding: 10px 80px;
    }
}

.iconContainer {
    position: relative;
}

.material-icons {
    position: absolute;
    top: 35%;
    left: 93%;
    transform: translateY(-50%);
    color: #757575;
    /* Adjust the color as needed */
}

/* tradeAndCollect  */
.newCard {
    width: 184px;
    height: 300px;
    background-color: beige;
    color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    margin-right: -25px;
    /* Adjust as needed for card overlap */
    transition: transform 0.3s ease-in-out;
    transform: translateY(-50%);
}

.card:hover {
    transform: translateX(20px); /* Adjust as needed for hover effect */
}

#cardSlots {
    display: flex;
    justify-content: center;
    
}

#scrollDeck {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}