<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="group">
            <div class="overlap-group">
            </div>
            <div class="rectangle-2"></div>
          </div>
          <p class="p">Online Trading Card Game Maker</p>
          <img class="img" src="img/rectangle-6.png" />
          <img class="rectangle-3" src="img/rectangle-6.png" />
          <img class="rectangle-4" src="img/rectangle-5.png" />
          <img class="rectangle-5" src="img/rectangle-6.png" />
          <div class="text-wrapper-3">Play</div>
          <div class="text-wrapper-4">Trade</div>
          <div class="text-wrapper-5">Make</div>
          <div class="text-wrapper-6">Collect</div>
          <img class="group-4" src="img/group-2.png" />
          <div class="group-5" id="card-count-1">
            <p>9/20</p>
          </div>
          <img class="group-5" id="deck-1" src="img/deck-top-view.jpg" />
          <div class="group-5" id="deck-name-1">
            <p>Deck Name: 
              <br>
              Lacking Finesse</p>
          </div>
          <img class="group-5" id="minotaur-card-1" src="img/minotaur-card.jpg" />
          <img class="group-5" id="minotaur-card-2" src="img/minotaur-card.jpg" />
          <img class="group-5" id="minotaur-card-3" src="img/minotaur-card.jpg" />
          <img class="group-5" id="minotaur-card-4" src="img/minotaur-card.jpg" />
          <div class="group=5" id="cards-in-hand-1">
            <p> Opponent Has 3 Cards In Hand
                <br>
                <br>
                Your Cards In Hand:
            </p>
          </div>
          <div class="group-5" id="card-count-1">
            <p>4/20</p>
          </div>
          <img class="group-5" id="deck-2" src="img/deck-top-view.jpg" />
          <div class="group-5" id="deck-name-2">
            <p>Deck Name: 
              <br>
              Let There Be 
              <br>
              Light</p>
          </div>
          <img class="group-5" id="urza-card-1" src="img/group-10.png" />
          <img class="group-5" id="urza-card-2" src="img/group-10.png" />
          <img class="group-5" id="urza-card-3" src="img/group-10.png" />
          <img class="group-5" id="urza-card-4" src="img/group-10.png" />
          <img class="group-6" src="img/group-6.png" />
          <img class="group-5" id="cards-in-hand-2" src="img/cards-in-hand.png" />
          <div class="group-wrapper">
            <div class="group-7">
              <div class="group-8">
                <div class="overlap-group-2"></div>
              </div>
            </div>
          </div>

        </div> <!-- class="overlap" -->
      </div> <!-- class="overlap-wrapper" -->
    </div> <!-- class="desktop" -->
  </body>
</html>
