<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop-a">
        <div class="overlap-a">
            <div class="overlap-group-a"></div>
            <div class="top-bar"></div>
          <p class="application-title">Online Trading Card Game Maker</p>
        </div> <!-- class="overlap-a" -->
        
        {{!-- BUTTON: "Play"
              Route: Link to look-at-games-page + app.get() (prompt asking if they'd like to play current game selected
              or
              browse games)
              --}}
        <button id="play-button-ggp" class="play-menu-button" type="button">Play</button>

        {{!-- BUTTON: "Trade"
              Route: Link to trade-page (Need to create)
              --}}
        <button id="trade-button-ggp" class="trade-menu-button" type="button">Trade</button>

        {{!-- BUTTON: "Make"
              Route: Link to game-generation-page--}}
        <button id="make-button-ggp" class="make-menu-button" type="button">Make</button>

        {{!-- BUTTON: "Collect"
              Route: Link to collect-page (Need to create) --}}
        <button id="collect-button-ggp" class="collect-menu-button" type="button">Collect</button>
         <img class="user-logo" src="img/group-2.png" />
    </div> <!-- class="desktop-a" -->


    <div id="card-count-1">
        <p>9/20</p>
    </div>
    {{!-- HANDLEBARS: "Next card to draw"
        Route: App.get() from db
        --}}
    <img id="deck-1" src="img/deck-top-view.jpg" />
    <div id="deck-name-1">
      <p>Deck Name: 
        <br>
        Lacking Finesse
      </p>
    </div>
    {{!-- These Cards will probably need to become clickable to select each one--}}
    <img id="minotaur-card-1" src="img/minotaur-card.jpg" />
    <img id="minotaur-card-2" src="img/minotaur-card.jpg" />
    <img id="minotaur-card-3" src="img/minotaur-card.jpg" />
    <img id="minotaur-card-4" src="img/minotaur-card.jpg" />
    {{!-- These Cards will probably need to become clickable to select each one--}}
    <div id="cards-in-hand-1">
      <p> Opponent Has 3 Cards In Hand
          <br>
          <br>
          Your Cards In Hand:
      </p>
    </div>
    <div id="card-count-2">
      <p>4/20</p>
    </div>

    {{!-- HANDLEBARS: "Next card to draw"
        Route: App.get() from db
        --}}
    <img id="deck-2" src="img/deck-top-view.jpg" />
    <div id="deck-name-2">
      <p>Deck Name: 
        <br>
        Let There Be 
        <br>
        Light</p>
    </div>
    {{!-- These Cards will probably need to become clickable to select each one--}}
    <img id="urza-card-1" src="img/group-10.png" />
    <img id="urza-card-2" src="img/group-10.png" />
    <img id="urza-card-3" src="img/group-10.png" />
    <img id="urza-card-4" src="img/group-10.png" />
    <img id="game-name-title" src="img/group-6.png" />
    {{!-- These Cards will probably need to become clickable to select each one--}}
    <img id="cards-in-hand-2" src="img/cards-in-hand.png" />
    <div class="group-wrapper">
      <div class="group-7">
        <div class="group-8">
          <div class="overlap-group-2"></div>
        </div>
      </div>
    </div>

  </body>
</html>