.group-6 {
  position: absolute;
  width: 414px;
  height: 72px;
  top: 94px;
  left: 115px;
}

.group-wrapper {
  position: absolute;
  width: 309px;
  height: 39px;
  top: 171px;
  left: 168px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.overlap-group-2 {
  position: relative;
  width: 309px;
  height: 39px;
  background-color: #ec6767;
  border-radius: 81px;
}

.text-wrapper-7 {
  position: absolute;
  top: 7px;
  left: 100px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#generate-card-title-top{
  position: absolute;
  top: 350px;
  left: 175px;
  font-weight:bolder;
  font-size:30px;
}

#generate-card-title-bottom{
  position: absolute;
  top: 625px;
  left: 125px;
  font-weight:bolder;
  font-size:30px;
}

#deck-1 {
  position: absolute;
  top: 400px;
  left: 200px;
  height:28%;
  width:10%;
}

#AI-prompt-title{
  position: absolute;
  top: 225px;
  left: 900px;
  font-weight:bolder;
  font-size:30px;
}

#faded-prompt-text{
  position: absolute;
  top: 325px;
  left: 920px;
  font-weight:bolder;
  color:gray;
}

#prompt {
  position: absolute;
  width: 400px;
  height: 350px;
  top: 300px;
  left: 900px;
  background-color: #f6f2f2;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040,
    0px 4px 4px #00000040;
}

#credits{
  position: absolute;
  width: 250px;
  height: 80px;
  top: 375px;
  left: 550px;
  background-color: #f6f2f2;
  font-weight: bolder;
  font-size:20px;
}

#health-stat{
  position: absolute;
  width: 150px;
  height: 25px;
  top: 500px;
  left: 600px;
  background-color: #f6f2f2;
  border-radius: 81px;
  font-weight: bolder;
  font-size:20px;
}

#health-stat-plus{
position: absolute;
width: 25px;
height: 25px;
top: 500px;
left: 775px;
background-color: #f6f2f2;
border-radius: 81px;
font-weight: bolder;
font-size:25px;
}

#health-stat-minus{
position: absolute;
width: 25px;
height: 25px;
top: 500px;
left: 550px;
background-color: #f6f2f2;
border-radius: 81px;
font-weight: bolder;
font-size:25px;
}

#attack-stat{
  position: absolute;
  width: 150px;
  height: 25px;
  top: 550px;
  left: 600px;
  background-color: #f6f2f2;
  border-radius: 81px;
  font-weight: bolder;
  font-size:20px;
}

#attack-stat-plus{
position: absolute;
width: 25px;
height: 25px;
top: 550px;
left: 775px;
background-color: #f6f2f2;
border-radius: 81px;
font-weight: bolder;
font-size:25px;
}

#attack-stat-minus{
position: absolute;
width: 25px;
height: 25px;
top: 550px;
left: 550px;
background-color: #f6f2f2;
border-radius: 81px;
font-weight: bolder;
font-size:25px;
}

#defense-stat{
  position: absolute;
  width: 150px;
  height: 25px;
  top: 600px;
  left: 600px;
  background-color: #f6f2f2;
  border-radius: 81px;
  font-weight: bolder;
  font-size:20px;
}

#defense-stat-plus{
position: absolute;
width: 25px;
height: 25px;
top: 600px;
left: 775px;
background-color: #f6f2f2;
border-radius: 81px;
font-weight: bolder;
font-size:25px;
}

#defense-stat-minus{
position: absolute;
width: 25px;
height: 25px;
top: 600px;
left: 550px;
background-color: #f6f2f2;
border-radius: 81px;
font-weight: bolder;
font-size:25px;
}