#game-name-title {
  position: absolute;
  width: 414px;
  height: 72px;
  top: 94px;
  left: 115px;
}

.deck-sign-shadow {
  position: absolute;
  width: 309px;
  height: 39px;
  top: 171px;
  left: 168px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.deck-name-sign{
  position: relative;
  width: 309px;
  height: 39px;
  background-color: #ec6767;
  border-radius: 81px;
}

.deck-name-text {
  position: absolute;
  top: 7px;
  left: 100px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#generate-card-title-top{
  position: absolute;
  top: 350px;
  left: 175px;
  font-weight:bolder;
  font-size:30px;
}

#generate-card-title-bottom{
  position: absolute;
  top: 625px;
  left: 125px;
  font-weight:bolder;
  font-size:30px;
}

#deck-1 {
  position: absolute;
  top: 400px;
  left: 200px;
  height:28%;
  width:10%;
}

#AI-prompt-title{
  position: absolute;
  top: 225px;
  left: 900px;
  font-weight:bolder;
  font-size:30px;
}

#faded-prompt-text{
  position: absolute;
  top: 325px;
  left: 920px;
  font-weight:bolder;
  color:gray;
}

#prompt {
  position: absolute;
  width: 400px;
  height: 350px;
  top: 300px;
  left: 900px;
  background-color: #f6f2f2;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040,
    0px 4px 4px #00000040;
}

#credits{
  position: absolute;
  width: 250px;
  height: 80px;
  top: 300px;
  left: 550px;
  background-color: #f6f2f2;
  border-radius: 5px;
  font-weight: bolder;
  font-size:20px;
  padding-left:30px;
}

.health-stat {
  position: absolute;
  display: block;
  top: 400px;
  left: 550px;
  margin: 0px;

}

#health-stat-text {
  display: block;
  width: 250px;
  height: 30px;
  background-color: #ec6767;
  font-weight: bolder;
  font-size:20px;
  margin: 0px;
  padding-left: 80px;
  padding-top: 5px;
  border-radius: 5px;

}

.health-stat #health-stat-minus{
  position: relative;
  top: 30px;
  right: 75px;
  width: 50px;
  height: 30px;
  font-weight: bolder;
  font-size:25px;
}

.health-stat #health-stat-plus{
  position: relative;
  bottom: 30px;
  left: 275px;
  width: 50px;
  height: 30px;
  font-weight: bolder;
  font-size:25px;
}


.attack-stat {
  position: absolute;
  display: block;
  top: 450px;
  left: 550px;
  margin: 0px;

}

#attack-stat-text {
  display: block;
  width: 250px;
  height: 30px;
  background-color: #ec6767;
  font-weight: bolder;
  font-size:20px;
  margin: 0px;
  padding-left: 80px;
  padding-top: 5px;
  border-radius: 5px;
}

.attack-stat #attack-stat-minus{
  position: relative;
  top: 30px;
  right: 75px;
  width: 50px;
  height: 30px;
  font-weight: bolder;
  font-size:25px;
}

.attack-stat #attack-stat-plus{
  position: relative;
  bottom: 30px;
  left: 275px;
  width: 50px;
  height: 30px;
  font-weight: bolder;
  font-size:25px;
}


.defense-stat {
  position: absolute;
  display: block;
  top: 500px;
  left: 550px;
  margin: 0px;

}

#defense-stat-text {
  display: block;
  width: 250px;
  height: 30px;
  background-color: #ec6767;
  font-weight: bolder;
  font-size:20px;
  margin: 0px;
  padding-left: 80px;
  padding-top: 5px;
  border-radius: 5px;
}

.defense-stat #defense-stat-minus{
  position: relative;
  top: 30px;
  right: 75px;
  width: 50px;
  height: 30px;
  font-weight: bolder;
  font-size:25px;
}

.defense-stat #defense-stat-plus{
  position: relative;
  bottom: 30px;
  left: 275px;
  width: 50px;
  height: 30px;
  font-weight: bolder;
  font-size:25px;
}


