<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="look-at-games-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="group">
            <div class="rectangle"></div>
            <div class="div"></div>
          </div>
          <p class="text-wrapper">Online Trading Card Game Maker</p>
          <img class="img" src="img/group-2.png" />
          <div class="group-wrapper">
            <div class="group-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group"><div class="text-wrapper-2">All Games</div></div>
              </div>
              <div class="div-wrapper">
                <div class="overlap-2"><div class="text-wrapper-3">User Games</div></div>
              </div>
            </div>
          </div>
          <img class="rectangle-2" src="img/rectangle-17-2.png" />
          <div class="text-wrapper-4">Ruleset</div>
          <div class="text-wrapper-5">Game Name</div>
          <img class="rectangle-3" src="img/rectangle-17-1.png" />
          <div class="text-wrapper-6">Ruleset</div>
          <div class="text-wrapper-7">Game Name</div>
          <img class="rectangle-4" src="img/rectangle-17.png" />
          <div class="text-wrapper-8">Ruleset</div>
          <div class="text-wrapper-9">Deck Name</div>
          <div class="text-wrapper-10">Deck Name</div>
          <div class="text-wrapper-11">Deck Name</div>
          <div class="text-wrapper-12">Game Name</div>
          <img class="pngwing" src="img/pngwing-4.png" />
          <img class="pngwing-2" src="img/pngwing-4.png" />
          <img class="pngwing-3" src="img/pngwing-4.png" />
          <img class="pngwing-4" src="img/pngwing-6.png" />
          <img class="pngwing-5" src="img/pngwing-6.png" />
          <img class="pngwing-6" src="img/pngwing-6.png" />
          <div class="group-3">
            <div class="overlap-3">
              <div class="group-4"></div>
              <div class="group-5">
                <div class="group-6">
                  <div class="overlap-group-2"><div class="text-wrapper-13">Make</div></div>
                </div>
                <div class="text-wrapper-14">Collect</div>
                <div class="group-7">
                  <div class="group-8">
                    <div class="overlap-group-2"><div class="text-wrapper-15">Trade</div></div>
                  </div>
                </div>
                <div class="group-9">
                  <div class="group-8">
                    <div class="overlap-group-3"><div class="text-wrapper-16">Play</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
