<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../global.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="desktop-a">
        <div class="overlap-a">
          <div class="group-a">
            <div class="overlap-group-a"></div>
            <div class="top-bar"></div>
          </div>
          <p class="application-title">Online Trading Card Game Maker</p>
          <img class="play-button" src="img/rectangle-6.png" />
          <img class="trade-button" src="img/rectangle-6.png" />
          <img class="make-button" src="img/rectangle-5.png" />
          <img class="collect-button" src="img/rectangle-6.png" />
          <div class="play-button-text">Play</div>
          <div class="trade-button-text">Trade</div>
          <div class="make-button-text">Make</div>
          <div class="collect-button-text">Collect</div>
          <img class="user-logo" src="img/group-2.png" />

          </div> <!-- class="overlap-a" -->
    </div> <!-- class="desktop-a" -->
    
  <div class="new-user-page">
        <div class="rectangle-2"></div>
        <form class="text-font" id="addUser" action="/user-profile-page/index" method="post">
          <div class="text-wrapper-2">Enter Username</div>
          <div class="text-wrapper-3">Enter Password</div>
          <div class="text-wrapper-4">Repeat Password</div>
          <div class="text-wrapper-5">Enter Email</div>
          <div class="group-2">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="text-wrapper-6">Welcome New User!</div>
          <div class="overlap-group-wrapper">
              <input class="btn" type="submit" value="SUBMIT">
          </div>
          {{!-- <div class="overlap-group">
            <div class="text-wrapper-7">SUBMIT</div>
          </div> --}}
          {{!-- </input> --}}
          <div class="group-8">
            <input class="rectangle-3" id="usn" type="text" placeholder="Username" required></input>
            <input class="rectangle-5" id="pwd" type="password" placeholder="Password" required></input>
          </div>
        </form>
        <script src="/js/addUser.js"></script>
        <img class="information-icon" src="img/information-icon-must-have-iconset-visualpharm-26-1.png" />
  </div>  <!-- class="new-user-page -->

</body>

</html>