<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="welcome-page-portal">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="group">
            <div class="rectangle"></div>
            <div class="div"></div>
          </div>
          <p class="text-wrapper">Online Trading Card Game Maker</p>
          <img class="img" src="img/group-2.png" />
          <div class="rectangle-2"></div>
          <div class="hello-please-log-in">Hello!<br />Please log-in</div>
          <div class="group-2">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="text-wrapper-2">Username</div>
          <div class="text-wrapper-3">Password</div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group"><div class="text-wrapper-4">Browse Games</div></div>
          </div>
          <div class="primary-button"><div class="login">New User?</div></div>
          <button class="div-wrapper"><div class="text-wrapper-5">Login</div></button>
          <div class="primary-button-2"></div>
          <div class="text-wrapper-6">Reset Password</div>
          <div class="group-3">
            <div class="overlap-2">
              <div class="group-4"></div>
              <div class="group-5">
                <div class="group-6">
                  <div class="overlap-group-2"><div class="text-wrapper-7">Make</div></div>
                </div>
                <div class="text-wrapper-8">Collect</div>
                <div class="group-wrapper">
                  <div class="group-7">
                    <div class="overlap-group-2"><div class="text-wrapper-9">Trade</div></div>
                  </div>
                </div>
                <div class="group-8">
                  <div class="group-7">
                    <div class="overlap-group-2"><div class="text-wrapper-10">Play</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
